input,td,th{text-align:right;font-size:large}
#converted,body,input,td,th{font-size:large}
td,th{vertical-align:top;// border:1px solid #000}
#converted{color:red;font-weight:700}
input{border:none;border-radius:20px;padding:5px;width:50%}
body{background-color:#BCF5A9;font-family:"Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace}
h1{font-weight:400;text-align:center;background:#0B610B;padding:5px 15px;color:#fff;border-radius:10px}